



header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  padding: 20px;

  
}

header h1 {
  color: white;
  font-size: 30px;
  
}

header nav {
  float: right;
}

header nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

header nav a:hover {
  background-color: #666;
}

